:root{
	--fonte-principal: 'Montserrat';
	--cor-inicio: #707070;
	--cor-lista: #2F2E41;
	--vermelho-footer: #D2202C;
	--cinza-footer1: #323237;
}

body{
	font-family: var(--fonte-principal);
}

footer{
	font-family: var(--fonte-principal);
}

*{
	margin: 0;
	padding: 0;
}
.superior{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px;
	height: 100px;
}

.lista__superior{
	display: flex;
	justify-content: center;
	list-style-type: none;
	color: var(--cor-lista);
	font-style: semibold;
	margin: 10px;
}

.lista__inicio{
	padding: 0 35px 0 75px;
	color: var(--cor-inicio);
}

.lista__posterior{
	padding-right: 35px; 
}

.botao__superior{
	display: flex;
	justify-content: center;
   	align-items: center;
	border-radius: 20px;
	border: solid 1px;
	font-family: var(--fonte-principal);
	height: 40px;
	font-size: 20px;
}

.botao__entrar{
	margin: 0 15px 0 20px;
	width: 130px;
	background-color: white;
	color: var(--cor-inicio);
	border-color: black;

}

.botao__cadastrar{
	border: none;
	margin-right: 80px;
	width: 160px;
	background-color: var(--cor-inicio);
	color: white;
}

.buscar{
	border-radius: 20px;
	border: solid 1px;
	color: var(--cor-inicio);
	width: 353px;
	height: 40px;
}

.lupa{
	padding: 10px;  
}

#textobuscar{
	padding-top: 30px;
	background-color: transparent;
	border: none;
	color: var(--cor-inicio);
	font-size: 20px;
	font-family: opensans;
	width: 290px;
	height: 40px;
}

.meio{
	height: 989px;
}

.parceiros{
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo__parceiros{
	text-align: center;
}

.lista__inferior{
	display: flex;
	justify-content: center;
	align-items: center;
}

.remove__ponto{
	list-style-type: none;
}

.footer__superior{
	background-color: var(--vermelho-footer);
	height: 228px;
	width: 1920px;
	color: white;
	text-align: center;
}

.realizacao__footer{
	padding: 30px;
	padding-bottom: 45px;
	font-size: 24px;
	font-style: normal;
}

.footer__inferior{
	background-color: var(--cinza-footer1);
	height: 332px;
	width: 1920px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.logo__lais{
	padding-right: 230px;
	padding-bottom: 120px ;
}

.footer__lista{
	padding-top: 65px;
	list-style-type: none;

}

.lista__middle{
	padding-bottom: 20px;
}

.footer__lista h3{
	color: white;
	font-size: 26px;
}

.footer__lista a{
	font-size: 18px;
	color: white;
}

.redes__sociais{
	text-align: center;
	list-style-type: none;
	color: white;
	padding-left: 230px;
	padding-bottom: 95px;
	font-size: 26px;
}

.social{
	margin: 30px;
}